{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<h1>{{ view.title }}</h1>
<div class="py-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">        
        <li class="nav-item">
          <a class="nav-link active" href="#graduate" id="graduate-tab" data-toggle="tab" role="tab" aria-controls="graduate" aria-selected="true">Graduate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#language" id="language-tab" data-toggle="tab" role="tab" aria-controls="language" aria-selected="true">Language</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="#reading_and_composition" id="reading_and_composition-tab" data-toggle="tab" role="tab" aria-controls="reading_and_composition" aria-selected="true">Reading and Composition (R&C)</a>
        </li>            
        <li class="nav-item">
          <a class="nav-link" href="#undergraduate" id="undergraduate-tab" data-toggle="tab" role="tab" aria-controls="undergraduate" aria-selected="true">Undergraduate</a>
        </li>        
    </ul>
    <div class="tab-content" id="myTabContent">
        {% set graduate = FALSE %}      
        {% set language = FALSE %}
        {% set reading_and_composition = FALSE %}          
        {% set undergraduate = FALSE %}
        
        {% for row in rows %}            
            
            {% set previous_row_level = level %}            
            {% set level = view.style_plugin.getField(loop.index0, 'field_course_type')|striptags %}            
            
            {% if loop.first == false and previous_row_level == level %}           
            <hr>  
            {% endif %}       
         
            {% if "Graduate" in level %}
                {% if not graduate %}
                {% set graduate = TRUE %}                
                <div class="tab-pane fade px-2 show active" id="graduate" role="tabpanel" aria-labelledby="graduate-tab">
                {% endif %}                
                
            {% elseif "Language" in level %}
                {% if not language %}
                    {% set language = TRUE %}
                    {% if graduate %}
                    </div>                    
                    {% endif %}
                    <div class="tab-pane fade px-2" id="language" role="tabpanel" aria-labelledby="language-tab">
                {% endif %}
                
            {% elseif "Reading" in level %}
                {% if not reading_and_composition %}
                    {% set reading_and_composition = TRUE %}
                    {% if language or graduate %}
                    </div>                
                    {% endif %}
                    <div class="tab-pane fade px-2" id="reading_and_composition" role="tabpanel" aria-labelledby="reading_and_composition-tab">
                {% endif %}
                
            {% elseif "Undergraduate" in level %}
                {% if not undergraduate %}
                    {% set undergraduate = TRUE %}                
                    {% if reading_and_composition or language or graduate %}
                    </div>                
                    {% endif %}
                    <div class="tab-pane fade px-2" id="undergraduate" role="tabpanel" aria-labelledby="undergraduate-tab">                    
                {% endif %}
                
            {% endif %}          
            
        {%
          set row_classes = [
            default_row_class ? 'views-row',
            'row'
          ]
        %}
        
        <div{{ row.attributes.addClass(row_classes) }}>
        {{ row.content }}
        </div>            
        
        {% if loop.last %}          
        </div>
        {% endif %}   
    {% endfor %}
       
    {% if not graduate %}
        <div class="tab-pane fade px-2 show active" id="graduate" role="tabpanel" aria-labelledby="graduate-tab">
            <div class="row my-3 py-2">
                <div class="col"><h3 class="text-muted">No Graduate Courses</h3></div>
            </div>
        </div>
    {% endif %}        
    {% if not language %} 
        <div class="tab-pane fade px-2" id="language" role="tabpanel" aria-labelledby="language-tab">
            <div class="row my-3 py-2">
                <div class="col"><h3 class="text-muted">No Language Courses</h3></div>
            </div>
        </div> 
    {% endif %}        
    {% if not reading_and_composition %}        
        <div class="tab-pane fade px-2" id="reading_and_composition" role="tabpanel" aria-labelledby="reading_and_composition-tab">
            <div class="row my-3 py-2">
                <div class="col"><h3 class="text-muted">No Reading And Composition (R&C) Courses</h3></div>
            </div>
        </div>
    {% endif %}        
    {% if not undergraduate %}        
        <div class="tab-pane fade px-2" id="undergraduate" role="tabpanel" aria-labelledby="undergraduate-tab">
            <div class="row my-3 py-2">
                <div class="col"><h3 class="text-muted">No Undergraduate Courses</h3></div>
            </div>
        </div>
    {% endif %}    
    </div>
</div>
{#<br><br>
{% for row in rows %}
    {% set level = view.style_plugin.getField(loop.index0, 'field_course_type')|striptags %}
    {{dump(level)}}
    {% set level = view.style_plugin.getField(loop.index0, 'field_semester')|striptags %}
    {{dump(level)}}
    {{ row.content }}
{% endfor %}    #}